kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: webrtc-hpa
  namespace: webrtc-app

spec:
  scaleTargetRef:
    kind: Deployment
    name: webrtc-app-deployment
    apiVersion: apps/v1

  minReplicas: 1
  maxReplicas: 5

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 5
